c_cpp_properties.json
.vscode/
build/
CPU1_RAM/
CPU1_FLASH/


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
CPU1_RAM/.clangd/compile_commands.json
CPU1_RAM/ccsObjs.opt
CPU1_RAM/freertos_demo_280049_linkInfo.xml
CPU1_RAM/freertos_demo_280049.map
CPU1_RAM/freertos_demo_280049.out
CPU1_RAM/makefile
CPU1_RAM/sources.mk
.settings/org.eclipse.core.resources.prefs
CPU1_RAM/.clangd/compile_commands.json
CPU1_RAM/ccsObjs.opt
CPU1_RAM/freertos_demo_280049_linkInfo.xml
CPU1_RAM/freertos_demo_280049.map
CPU1_RAM/freertos_demo_280049.out
CPU1_RAM/makefile
CPU1_RAM/sources.mk
CPU1_RAM/.clangd/compile_commands.json
CPU1_RAM/ccsObjs.opt
CPU1_RAM/freertos_demo_280049_linkInfo.xml
CPU1_RAM/freertos_demo_280049.map
CPU1_RAM/freertos_demo_280049.out
CPU1_RAM/makefile
CPU1_RAM/sources.mk
